##### Regular Expressions Assignmnet

In [21]:
#Question 1 ----> Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

In [77]:
import regex as re
import re
import pandas as pd

In [19]:
s = "[ ,.]"
text = 'Python Exercises, PHP exercises.'
result = re.sub( s, ":", text) 
print(result)

Python:Exercises::PHP:exercises:

In [ ]:
#Question 2--> Create a dataframe using the dictionary below and remove 
             #everything (commas (,), !, XXXX, ;, etc.) from the columns except words
#  Dictionary-{'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}

In [56]:

data = {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}

df = pd.DataFrame(data)

df['SUMMARY'] = df['SUMMARY'].str.replace('[^a-zA-Z\s]', '' , regex = True )
 
print(df)

         SUMMARY
0    hello world
1     XXXXX test
2  four five six

In [ ]:
#Question 3 --->  Create a function in python to find all words     
                #that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [75]:
import re
target_string = 'Rohit sharma has scored of 43 CENTURY and 91 HALFCENTURY'
pattern = re.compile(r"(\b\w{4,})")

for m in pattern.finditer(target_string):
    print(m.group())

Rohit
sharma
scored
CENTURY
HALFCENTURY

In [ ]:
#Question 4 ---->>>Create a function in python to find all three, four, and five character words in a string. 
                  #The use of the re.compile() method is mandatory.

In [93]:
import re
target_string = 'Rohit sharma has scored of fourty three CENTURY and ninety one HALFCENTURY'
pattern = re.compile(r"(\b\w{3,5}\b)")

for m in pattern.finditer(target_string):
    print(m.group())

Rohit
has
three
and
one

In [ ]:
#Question 5- Create a function in Python to remove 
             #the parenthesis in a list of strings.The use of the re.compile() method is mandatory.
    #Sample Text:["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

In [1]:
#  No Answer

In [ ]:
#Question 7 --->  Write a regular expression in Python to split a string into uppercase letters.
                #Sample text:   “ImportanceOfRegularExpressionsInPython”

In [121]:
target_String = 'ImportanceOfRegularExpressionsInPython'
pattern = re.findall('[A-Z][^A-Z]*', target_String)
print(pattern)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [ ]:
#Question 8- Create a function in python to insert spaces between words starting with numbers.
             #Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
             #Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

In [49]:
def  space(text):
    pattern = r'([A-Za-z]+)(\d+)'
    result = re.sub(pattern ,  r'\1 \2',text)
    return result

In [50]:
text = 'RegularExpression1IsAn2ImportantTopic3InPython'
output=space(text)
print(output)

RegularExpression 1IsAn 2ImportantTopic 3InPython

In [ ]:
#Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.
              #Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
             #Expected Output:RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [53]:
 def  space(text):
    pattern = r'([A-Za-z]+)(\d+)'
    result = re.sub(pattern ,  r' \1  \2 ',text)
    return result

In [54]:
text = 'RegularExpression1IsAn2ImportantTopic3InPython'
output=space(text)
print(output)

 RegularExpression  1  IsAn  2  ImportantTopic  3 InPython

In [56]:
#Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters
             #of each country and store in the dataframe under a new column called first_five_letters.
       #Github Link- https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [108]:

url = "https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv"
df = pd.read_csv(url) 
df['first_fiv_ltr'] = df['Country'].apply(lambda X:X [:6])

In [107]:
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_fiv_ltr
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada

In [ ]:
#Question 11 -

In [164]:
import re
text =  input('')
pattern1 = r'^[a-zA-Z0-9_]+$'

if re.match(pattern1 , text):

    print('string is match')
        
else :
    
     print('string not match')

h8hjh
string is match

In [167]:
import re
text =  'hello Hello_123'
pattern1 = r'[a-zA-Z0-9_]+$'
result = re.match(pattern1 , text)
print(result)

None

In [ ]:
#Question 12

In [155]:
    text = 'zvsdgd 1234asdcfv'
    pattern = r'(\d+)([A-Za-z]+)'
    result = re.search(pattern,text)
    print(result.group())

1234asdcfv

In [ ]:
#Question 13- Write a Python program to remove leading zeros from an IP address

In [176]:
 y = '0'
 ip = "192.168.001.001" 
 ip1 = '286.011.40.20'
 replaced_text = re.sub(y, "" , ip1) 
 print(replaced_text)

286.11.4.2

In [ ]:
#Question 14 --->

In [17]:
text = 'On August 15th 1947  that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’'
#pattern = r'(\d+)([A-Za-z]+)'
result = re.search(r'A[A-Za-z].+(\b\d+)', text)
print(result.group())

August 15th 1947

In [19]:
#Question 15- Write a Python program to search some literals strings in a string. 
#Sample text : 'The quick brown fox jumps over the lazy dog.'
#Searched words : 'fox', 'dog', 'horse'

In [54]:
text = 'The quick brown fox jumps over the lazy dog.'

pattern = 'f[A-Za-z]+|d[\w]+'
result = re.findall(pattern,text)
print(result)

['fox', 'dog']

In [57]:
text = 'The quick brown fox jumps over the lazy dog.'

result = re.search(r'f[A-Za-z]+',text)
result1 = re.search(r'd[A-Za-z]+',text)
print(result.group())
print(result1.group())

fox
dog

In [44]:
text = 'The quick brown fox jumps over the lazy dog.'
pattern  = re.search('cat|dog|fox|horse', text)
if pattern:
    print('Words Matched')
else:
    print('no match')

Words Matched

###### Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
#Sample text : 'The quick brown fox jumps over the lazy dog.'
#Searched words : 'fox'

In [49]:
text = 'The quick brown fox jumps over the lazy dog.'
result = re.search(r'f[A-Za-z]+',text)
print(result)
print(result.group())

<re.Match object; span=(16, 19), match='fox'>
fox

###### Question 17- Write a Python program to find the substrings within a string.
Sample text : 'Python exercises, PHP exercises, C# exercises'
#Pattern : 'exercises'.

In [79]:
text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'e[A-Za-z]+'  
result = re.findall(pattern,text)
print(result)

['exercises', 'exercises', 'exercises']

In [78]:
text = 'Python exercises, PHP exercises, C# exercises'
result = re.search(r'e[A-Za-z]+',text)
print(match.span())

(36, 45)

In [68]:
target_string = 'Python exercises, PHP exercises, C# exercises'
substring = 'exercises'
m1 = re.finditer(substring, target_string)
for match in m1:
    print('string \'{}\''.format(substring), 'found at position', match.span())

string 'exercises' found at position (7, 16)
string 'exercises' found at position (22, 31)
string 'exercises' found at position (36, 45)

###### Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [82]:
import re
text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
for match in re.finditer(pattern, text):
    s = match.start()
    e = match.end()
    print('Found "%s" at %d:%d' % (text[s:e], s, e))

Found "exercises" at 7:16
Found "exercises" at 22:31
Found "exercises" at 36:45

###### Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [93]:
import re
dt1 = "2024-03-03" 
pattern = re.sub(r'(r\d{4})-(\d{1,2})-(\d{1,2})', '\\3-\\2-\\1', dt1)
print(pattern, '\n', change_date_format(dt1))

2024-03-03
 03-03-2024

###### Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string.The use of the re.compile() method is mandatory.

In [136]:
 def  decimal_num(string):
        pattern = re.compile(r'\d+\.\d{1,2}')
        #pat1 = re.compile(r"^[0-9].+(\.[0-9]{1,2})")
        decimal_number = re.findall(pattern, string)
        #for match in pat1.finditer(string):
        return decimal_number  
         #return match

In [137]:
text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
output = decimal_num(text)
print(output)

['01.12', '0132.12', '2.31', '145.8', '3.01', '27.25', '0.25']

###### Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [3]:
target_string = 'virat is a cricket player who was born on 5 november 1988'
result = re.search('\d+', target_string)
print('match object ->', result)
print('match value ->', result.group())  
print('Index Value ->', result.start())

match object -> <re.Match object; span=(42, 43), match='5'>
match value -> 5
Index Value -> 42

###### Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.

###### Sample Text: 'My marks in each semester are:  947, 896, 926, 524, 734, 950, 642'
Expected Output :  950

In [4]:
num = '947, 896, 926, 524, 734, 950, 642'
pattern = ('\d+')

max_num = re.findall(pattern, num)
print(max(max_num))

950

###### Question 24-Python regex to find sequences of one upper case letter followed by lower case letters

In [15]:
import re
text = 'Python regex to Find Sequences of one Upper case Letter Followed by Lower case Letters'
pattern = r'[A-Z][a-z]+'
Output = re.findall(pattern,text)
print(Output)

['Python', 'Find', 'Sequences', 'Upper', 'Letter', 'Followed', 'Lower', 'Letters']

###### Question 25-Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.

###### Sample Text:"Hello hello world world"
Expected Output: Hello hello world

In [28]:
text  = 'Hello hello world world'

pattern1 = r'\b(\w+)(\s+\1\b)+'
result = re.sub(pattern1, r'\1' ,text)
print(result)

Hello hello world

###### Question 26- Write a python program using RegEx to accept string ending with alphanumeric character.

In [66]:

text = "this item cost Rupees2500 and RS two thousend"   
result = re.findall(r"(\b\w+\d+)", text)
print(result)

['Rupees2500']

###### Question 27-Write a python program using RegEx to extract the hashtags.

###### Sample Text: """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
Expected Output:['#Doltiwal', '#xyzabc', '#Demonetization']

In [75]:

text = """"RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <U+00A0><U+00BD><U+00B1><U+0089> "acquired funds" No wo"""
result = re.findall(r'#\w+', text)
print(result)

['#Doltiwal', '#xyzabc', '#Demonetization']

###### Question 28- Write a python program using RegEx to remove <U+..> like symbols

In [76]:
#Expected Output:@Jags123456 Bharat band on 28??<ed><ed>Those 
#who are protesting #demonetization  are all different party leaders

In [100]:
import re
text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
pattern1 = r"<U\+\w{4}>"
result = re.sub(pattern1 , "" , text)

print(result)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

###### Question 30- Create a function inpython to remove all words from a string of length between 2 and 4.

In [119]:
def remove_words(string):
    pattern = re.compile(r'\b\w{2,4}\b')
   
    out_put = re.sub(pattern, "" , string)
    return out_put

In [120]:
text = "we are using regular expressions for this purpose, we first need to know some basics of regular expressions"
result = remove_words(text)
print(result)

  using regular expressions   purpose,  first     basics  regular expressions